.header {
  background: #29313d;
  a {
    color: #fff;
  }
  h1 {
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
  }
}

.gnav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      padding: 0 20px;
    }
  }
}

.logo {
  font-weight: bold;
}

/*------------- footer ------------*/
.footer {
  background: #29313d;
  padding: 30px 0px 20px 0px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0px 15px;
      img {
        width: 28px;
        height: auto;
      }
    }
  }
  .copyright {
    text-align: center;
    color: #fff;
    margin-top: 30px;
  }
}
