.header {
  background: #29313d;
  a {
    color: #fff;
  }
  h1 {
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
  }
}

.gnav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      padding: 0 20px;
    }
  }
}

.logo {
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 990px;
  margin: 60px auto 50px;
}
.article {
  img {
    max-width: 100%;
  }
  .article_item {
    width: 46%;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 15px 15px;
    margin: 40px 0px;
  }
  .__inner {
    padding: 20px 20px 40px;
    .day {
      color: #a0a6b0;
    }
    .tags {
      text-align: center;
      width: 70px;
      margin: 10px 0px;
      border: 1px solid #299dcc;
      color: #384359;
      border-radius: 15px;
      padding: 2px 6px;
    }
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      color: #384359;
    }
  }
}

/*------------- footer ------------*/
.footer {
  background: #29313d;
  padding: 30px 0px 20px 0px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0px 15px;
      img {
        width: 28px;
        height: auto;
      }
    }
  }
  .copyright {
    text-align: center;
    color: #fff;
    margin-top: 30px;
  }
}
