.title_item {
  font-size: 2rem;
  font-weight: bold;
  color: #384359;
  line-height: 1.2;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.article {
  padding: 50px 0px 100px;
  img {
    max-width: 100%;
    height: auto;
    margin: 50px 0px;
  }
  h2 {
    padding: 0px 0px 5px;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #384359;
    border-bottom: 1px solid #384359;
  }
  ul {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .date {
      color: #a0a6b0;
      margin-right: 15px;
    }
    .tags {
      border: 1px solid #299dcc;
      color: #384359;
      border-radius: 15px;
      padding: 0px 6px;
    }
  }
}
